


@font-face {
  font-family: "lt_leap";
  src: url("../../../public/fonts/lt_leap/LT\ Leap\ Medium.ttf") format("opentype")
}

@font-face {
  font-family: "pointfree";
  src: url("../../../public/fonts/point/pointfree.ttf") format("opentype")
}

* {
  margin: 0;
  padding: 0;
  color: var(--dark);
  font-family: "lt_leap";
  transition: all 0.5s;
}



.alt-font {
  font-family: "pointfree";
}








.icon-item:focus,
.icon-item:hover {
  transform: rotate3d(-1, 0.3, 0.2, 25deg); 
}



